<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

.body{
    font-family: 'Raleway', sans-serif;

}
.nav{
    list-style-type:none;
    text-align:right;
    margin:0;
    padding:1%;
    
}

.nav li{
    display:inline;
    font: size 20px;
    padding: 20px;
    vertical-align: top;
    width:50%;
    margin-right:auto;
    font-family: 'Raleway', sans-serif;
    color:black;
}
header{
    padding:15px;
}
header ul {
    float: right;
    color: white;
  }
  header li {
    display: inline-block;
    padding: 0px 5px;
  }
  header p {
    display: inline-block;
  }
.logo{
    width:23%;
    padding:1%;
    text-align:center;

}
.heroImg{
    height:40%;
    width:40%;
    padding:25px;
    margin: 0 auto;
    float:left;
    margin:10px;
    margin-right: 50px;
}

.hero-text{
    position: relative;
    color:black;
    margin-left:100px;
    margin-bottom:400px;
}
.button{
    font-size:20px;
    border:none;
    outline:0;
    display:inline-block;
    padding:14px 40px;
    color:black;
    background-color:#e7e7e7; color:black;
    text-align:center;
    cursor:pointer;
}
.footer{
    background-color:#373738;
    bottom:0;
    width: 100%;
    position: fixed;
}
.footer_text{
    color:white;
}
.footer_text li{
    display:inline;
    font: size 20px;
    padding: 20px;
    vertical-align: top;
    width:50%;
    margin-right:auto;
}
.flexContainer{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.flexContainer > div {
    background-color:#f1f1f1;
    width:33%;
    height:300px;

}
.flexContainer img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
}
.flexContainer h3{
    margin-left:30px;
    margin-right:30px;
}
.flexContainer p{
    margin-left:30px;
    margin-right:30px;
}
.mySkills{
    margin:30px;
}